.education {
  scroll-snap-align: start;
}

.education .centralized-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  padding: 20vh 0 80vh 0;
}

.education-intervals {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.education-intervals > li {
  position: relative;
}

.education-intervals-links-container {
  position: absolute;
  width: fit-content;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: end;
  padding-bottom: 2.5rem;
  overflow: visible;
}

.education-intervals-links-container .education-intervals-links {
  background-color: var(--light);
  border-radius: 10px;
  position: sticky;
  top: 200px;
  bottom: 0.25rem;
  z-index: 1;
  width: fit-content;
  height: fit-content;
}

.education-intervals li:nth-of-type(1) .education-intervals-links::after {
  content: "";
  position: absolute;
  z-index: -3;
  left: 0;
  top: 0;
  width: 77px;
  background-color: rgba(255, 255, 255, 0.225);
}

.education-intervals li:nth-last-of-type(1) .education-intervals-links::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2px;
  height: 175vh;
  background-color: rgba(255, 255, 255, 0.499);
}

.education-intervals:not(:last-child) li {
  content: "";
  width: 2px;
  height: 365px;
  position: absolute;
  bottom: -548px;
  left: 50%;
  transform: translate(0px, -50%);
  background-color: rgba(255, 255, 255, 0.499);
}

.education-intervals-links {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

/* Content */

.education-content {
  position: relative;
  top: 0;
  margin-bottom: 2.5rem;
}

.education-intervals .education-content li:nth-of-type(1):after {
  width: 0px;
}

.education-content li {
  width: 50vw;
  background-color: transparent;
  color: var(--light);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
}

.education-content li::before {
  content: "\f219";
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: -30px;
  top: 0;
  font-size: 0.5rem;
}
