header {
  scroll-snap-align: start;
}

/* Header Layout */

header .centralized-container {
  height: 100vh;
  letter-spacing: 1px;
  text-align: center;
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

/* Header-content & header-img */

.header-img {
  padding: 20px;
  position: relative;
  overflow: hidden;
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

/* .header-img::after {
  content: '';
  position: absolute;
  z-index: -2;
  left: -30%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160%;
  height: 30px;
  animation: rotation 3s linear infinite;
  background-color: rgba(255, 255, 255, 0.586);
} */


.header-img--sizing {
  box-shadow: 0px 5px 20px 1px;
  width: 300px;
  height: 300px;
  animation: morph 8s linear infinite;
}

.header-content {
  transition-delay: 0.3s;
  text-align: center;
  font-family: "Inter", sans-serif;
  color:white;
}

.header-content--hello {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
}

.header-content--hello span {
  font-weight: 800;
  display: inline-block;
  animation: scaleAndRotation 1.5s ease-in-out;
}

.header-content h1 {
  margin-bottom: 1.1rem;
  font-size: 1.7rem;
  font-weight: 600;

  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .1em solid white;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: auto;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(22, end),
    blink-caret 1s alternate infinite;
   
}

.header-content h1::before {
  content: "My Name is ";
  font-weight: 400;
  font-size: 1.3rem;
}

.header-content--p {
  margin-top:1.5rem;
  font-size: 1.3rem;
}

/* media query for resposivisity */

@media only screen and (min-width: 768px) {
  header .centralized-container {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .header-content {
    text-align: start;
  }

  .header-content h1 {
    margin:0 !important;
  }

  .header-img--sizing {
    width: 300px;
    height: 300px;
  }

  .header-content--hello {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1400px) {
  header .centralized-container {
    gap: 20%;
  }

  .header-content--hello {
    font-size: 5rem;
  }
}