/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@500&display=swap");

/* public */

:root {
  --central-container--width: 75%;
  --light: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: transparent;
}

.centralized-container {
  margin: auto;
  width: var(--central-container--width);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  background: transparent;
  position: relative;
  scroll-behavior: smooth;
}

body {
  background: transparent;
}

body::-webkit-scrollbar {
  visibility: hidden;
}

@media only screen and (min-width: 1400px) {
  body::-webkit-scrollbar {
    visibility: visible;
  }

  /* custom scrollbar */

  main::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  main::-webkit-scrollbar-track {
    margin-block: 0.1em;
  }

  main::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 100vw;
  }
}

.bg-overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.bg-overlay-1 {
  background-image: url(../images/bg-sections/bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.bg-overlay-2 {
  background-image: url(../images/bg-sections/bg-aboutme.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}

.bg-overlay-3 {
  background-image: url(../images/bg-sections/bg-education.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
}

.bg-overlay-4 {
  background-image: url(../images/bg-sections/bg-projects.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}

.bg-overlay-5 {
  background-image: url(../images/bg-sections/bg-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -6;
}

/* Animations */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@keyframes slideLeft {
  0% {
    transform: translateX(200px);
  }

  200% {
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  25% {
    border-radius: 25% 75% 29% 45% / 58% 49% 51% 42%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  75% {
    border-radius: 25% 37% 45% 55% / 58% 49% 30% 42%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

@keyframes scaleAndRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.2) rotate(360deg);
  }

  70% {
    transform: scale(1) rotate(360deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}
