header {
  scroll-snap-align: start;
}

/* Header Layout */

header .centralized-container {
  min-height: 100vh;
  letter-spacing: 1px;
  text-align: center;
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
}

/* Header-content & header-img */

.header-img {
  padding: 20px;
  position: relative;
}

.header-img--sizing {
  box-shadow: 0px 5px 20px 1px;
  width: 200px;
  height: 200px;
  animation: morph 8s linear infinite;
}

.header-content {
  transition-delay: 0.3s;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--light);
  width: min-content;
}

.header-content--hello {
  font-size: 3rem;
  padding-bottom: 0.7rem;
}

.header-content--hello span {
  font-weight: 800;
  display: inline-block;
  animation: scaleAndRotation 1.5s ease-in-out;
}

.header-content h1 {
  position: relative;
  margin-bottom: 1.2rem;
  width: fit-content;
  font-size: 1.7rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
}

.header-content h1::before {
  content: "My Name is ";
  font-weight: 400;
  font-size: 1.3rem;
}

.header-content--p {
  padding-top: 1.5rem;
  font-size: 1.3rem;
  width: 100%;
  margin: auto;
}

/* media query for resposivisity */

@media only screen and (min-width: 768px) {
  header .centralized-container {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5%;
  }

  .header-content {
    text-align: start;
  }

  .header-content h1 {
    margin: 0;
  }

  .header-img--sizing {
    width: 300px;
    height: 300px;
  }

  .header-content--hello {
    font-size: 4rem;
    width: fit-content;
    margin: 0 !important;
    margin-bottom: 1.2rem;
    padding-bottom: 1.5rem;
  }
  .header-content--p {
    margin: 0;
    min-width: 30vw !important;
  }
}

@media only screen and (min-width: 1400px) {
  header .centralized-container {
    gap: 5%;
    min-height: 100vh;
    justify-content: center;
  }

  .header-content--hello {
    font-size: 5rem;
  }
}
